<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Antares Ticket</title>
</head>
    <body>
        <h1>Ticket for: <span th:text="${eventName}"></span></h1>
        <p>Seat: <span th:text="${seatNumber}"></span></p>
        <p>Row: <span th:text="${seatRow}"></span></p>
        <p>Sector: <span th:text="${seatSector}"></span></p>
        <p>Ticket type: <span th:text="${ticketType}"></span></p>
        <p>Price: <span th:text="${price}"></span> PLN</p>
        <p>Date: <span th:text="${date}"></span></p>
    </body>
</html>
